<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand" href="#">LQTA</a>
    </nav>

    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
